* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Roboto;
}

@font-face {
    font-family: Inter;
    src: url('fonts/Inter-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Inter;
    src: url('fonts/Inter-Regular.ttf');
}